tensorflow-model-optimization
tensorflow-recommenders
tensorflow-datasets
tensor2tensor
tensorflow-io
tensorflow-probability
tf-agents
dm-sonnet
mesh-tensorflow
tensorflow-text
numpy
pandas
sklearn
Pillow
h5py
scipy
seaborn
protobuf
opencv-python
scikit-image
mlflow